services:
  fastapi_app:
    build: 
      dockerfile: ./Dockerfile
    container_name: fastapi_app
    command: sh -c "uvicorn src.main:app --reload --port=8000 --host=0.0.0.0"
    env_file:
      - .env
    ports:
      - '8000:8000'
    depends_on:
      database:
       condition: service_healthy
